.container.col-4.text-center.bg-light.mt-4
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-title
      Edit #{resource_name.to_s.humanize}
    .field.mt-4
      = f.label :name,class:"label"
      %br/
      = f.text_field :name, autofocus: true,class:"form-control col-12"
    .field.mt-4
      = f.label :email,class:"label"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control col-12"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    -# .field.mt-4.text-center
    -#   = f.label :password,class:"label"
    -#   %i (leave blank if you don't want to change it)
    -#   %br/
    -#   = f.password_field :password, autocomplete: "new-password"
    -#   - if @minimum_password_length
    -#     %br/
    -#     %em
    -#       = @minimum_password_length
    -#       characters minimum
    -# .field.mt-4.text-center
    -#   = f.label :password_confirmation,class:"label"
    -#   %br/
    -#   = f.password_field :password_confirmation, autocomplete: "new-password"
    -# .field.mt-4.text-center
    -#   = f.label :current_password,class:"label"
    -#   %i (we need your current password to confirm your changes)
    -#   %br/
    -#   = f.password_field :current_password, autocomplete: "current-password"
    .actions.mt-4
      = f.submit "Update",class:"btn btn-success col-12 mt-4"
  %h6.mt-4 アカウントを削除しますか？
  %P
    #{button_to "OK", registration_path(resource_name), class:"button btn btn-danger col-12",data: { confirm: "Are you sure?" }, method: :delete}
  .mb-3  
    = link_to "< Back",:back
