-# -if post.errors.present?
-#   %ul#error_explanation
-#     -post.errors.full_messages.each do |message|
-#       %li 
-#         = message
.container.col-10.bg-light
  = form_with model: @post, local: true do |f|
    .form-row.mt-4
      .form-group.mr-5.col-3.text-center
        %h2.text-success.mt-3
          = f.label :name 
          = f.text_field :name,class:"form-control text-center",placeholder:"お店の名前を入力してください"

      .form-group.mr-5.col-5.text-center
        %h2.text-success.mt-3
          = f.label :address
          = f.text_field :address,class:"form-control text-center",placeholder:"住所を入力してください"

      .form-group.col-3.text-center
        .label-name.mt-3
          %h2.mr-2.text-success
            = f.label :score
            = f.text_field :score,class:"form-control text-center",type:"number",step:"0.1",max:"5",placeholder:"0.1〜5.0を入力してください"

    .form-row.mt-3.ml-5.text-center
      .form-group.col-5
        %h2.text-success
          = f.label :review
          = f.text_area :review ,class:"form-control text-center",placeholder:"評価・感想を入力してください",rows:"3"

      .form-group.col-6.text-center.ml-5
        %h2.text-success
          = f.label :link
          = f.url_field :link,class:"form-control text-center",placeholder:"URLを貼り付けてください"
   
    .image-class
      %label.image-btn
        = f.file_field :image, class:"form-control-file"

    .form-group.text-center
      .action
        = f.submit :send, class:"btn btn-success  col-10 mb-4"