.container.col-7.bg-light.mt-5
  .form-title.text-center
    Edit Post
  = form_with model: @post, local: true do |f|
    .form.mt-4
    %h5.container.col-10.text-center.text-danger.mt-3
      -if @post.errors.any?
        %ul#error_explanation
          -@post.errors.full_messages.each do |message|
            %li= message

      .form-group.mr-5.col-12.text-center
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :name,"Store Name"
          .badge.badge-danger.ml-2.mt-1
            req
        .file
          = f.text_field :name,class:"form-control text-center",placeholder:"お店の名前を入力してください"

      .form-group.mr-5.col-12.text-center
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :address,"Address"
          .badge.badge-danger.ml-2.mt-1
            req
        .file
          = f.text_field :address,class:"form-control text-center",placeholder:"住所を入力してください"

      .form-group.col-12.text-center
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :score,"Score"
          .badge.badge-danger.ml-2.mt-1
            req
        .file
          = f.text_field :score,class:"form-control text-center",type:"number",step:"0.1",max:"5",placeholder:"0.1〜5.0を入力してください"

      .form.mt-3.text-center
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :rview
          .badge.badge-danger.ml-2.mt-1
            req
      .file
        = f.text_area :review ,class:"form-control text-center",placeholder:"評価・感想を入力してください",rows:"3"

      .form.mt-3.text-center
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :Tag
          .badge.badge-danger.ml-2.mt-1
            req
          %h6.attention.text-dark.ml-4.mt-1
            ※小文字カンマ" , "で区切ってください
      .file
        = f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control text-center",placeholder: "例）ラーメン,豚骨 "

      .form-group.col-12.text-center.mt-3
        .text-success
          = f.label :Link
          = f.url_field :link,class:"form-control text-center",placeholder:"URLを貼り付けてください"

      .image-group.col-12
        .text-success.mt-3.d-flex.justify-content-center
          .label
            = f.label :Image
          .badge.badge-danger.ml-2.mt-1
            req
        .image-attention
          最大4枚までアップロードできます
        .image-container
          -# プレビューの数に合わせてforオプション指定
          =f.label :"images_attributes_#{@post.images.length}_image",class: "label-box", id:"label-box--#{@post.images.length}" do
            %pre.image-btn
          .prev-content
            -# プレビュー用--------
            -@post.images.each do |image|
              .preview-box
                .upper-box
                  = image_tag image.image.to_s
                .lower-box
                  .delete-box.mt-2
                    .delete-bt.btn.btn-dark
                      %span 削除
          .label-content

          .hidden-content
            = f.fields_for :images do |i|
              //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
              = i.file_field :image, class: "hidden-field"
              = i.check_box:_destroy, class: "hidden-checkbox"

              //4つのfile_fieldを準備するに当たって、足りない分を表示
              -@post.images.length.upto(3) do |i|
                %input{name: "post[images_attributes][#{i}][image]",id: "post_images_attributes_#{i}_image", class: "hidden-field",type:"file" }
    .form-group.text-center
      .action
        = f.submit :update, class:"btn btn-success  col-4 mb-4"