.container.d-flex.justify-content-center.mt-5
  %h1.display-4.title
    W A I W A I
  %h4.beer-icon.ml-1
    = icon("fas fa-beer",class: "beer-icon")

.container.text-center
  -if user_signed_in?
    %button.btn.btn.bg-success.col-3.mt-2.mb-3.text-white
      = link_to new_post_path , class:"new-post-btn" do
        %h3.new-post-btn NEW POST !
  -else
    %h2.mt-2 You can post if you "Login" !

.container.fluid
  .card-deck
    - @posts.each do |post|
      .row
        .col
          .card.mt-4.ml-6{style:"width:15rem"}
            %img.card-img-top
              -if post.image.attached?
                = image_tag post.image, height: '140px', width: '100%'
              -else
                .no-image-message.text-center.bg-secondary
                  No image
            %h5.card-img-overlay
              .user-name.text-center.rounded.bg-dark.text-white{style:"width:4rem"}
                = post.user.name
            .card-body
              %h5.store-name
                = post.name
              .review
                = post.review
            .d-flex.justify-content-center
              .post_day.mr-5.mt-3
                = l post.created_at,format: :short
              .form-inline.mr-3.mt-1
                .score-icon.text-warning.mr-2
                  =icon("fa","star",class:"score-icon")
                %h4.mt-2.user-score
                  = post.score

            .btn-group.bg-success
              .card-btn{id:"likes_buttons_#{post.id}"}
                = render partial: "likes/like", locals: {post: post}
              %button.btn.btn
                = link_to post_path(post),class:"card-btn" do
                  = icon("fa","info-circle")
.container.fluid
  .pagination.mt-5.justify-content-center
    = paginate @posts
  .pagination.justify-content-center
    = page_entries_info @posts
-#Google map-----------------------------------------------------------------
.container.d-flex.justify-content-center.mt-5
  %h1.display-5.title
    MAP & SPOT
  %h4.beer-icon.ml-1
    = icon("fas fa-map-marked-alt",class: "beer-icon")

%div{:style => "width: 100%;"}
  #map{:style => "width: 100%; height: 400px;"}

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ 
    provider: {mapTypeId: 'roadmap'},
    internal: {id: 'map'}
    }, 
    function(){
    markers = handler.addMarkers(#{raw @hash.to_json})
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(34.68639, 135.52));
    handler.getMap().setZoom(8);
  });