!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Waiwai
    = csrf_meta_tags
    = csp_meta_tag
    -# = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "//maps.google.com/maps/api/js?key=#{Rails.application.credentials[:GOOGLE_MAP_KEY]}"}
    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    -# %script{src:  "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"}  
  %body
    .nav.navbar.navbar.bg-light.border-bottom
      .navbar-brand
        = link_to posts_path do
          %button.btn.btn-outline-success
            = icon("fa","home",class: "home-btn")
            waiwai
            
      .nav-item
        - if user_signed_in?
          = link_to edit_user_registration_path do
            %button.btn.btn-outline-success
              = icon("fa","user",class: "user-btn")
              = current_user.name

      .nav-item
        - if user_signed_in?
          = link_to user_path(current_user) do
            %button.btn.btn-outline-success
              = icon("fa","list-ol",class: "list-ol-btn")
              my-page
      
      .nav-item.col-3
      -# 空白用

      -if user_signed_in?
        .logout.ml-2
          = link_to destroy_user_session_path, method: :delete do
            .logout
              logout

      -else
        %button.btn.btn-outline-success
          = link_to new_user_session_path do
            .user-btn
              login
        %button.btn.btn-outline-success
          = link_to new_user_registration_path do
            .user-btn
              new-user

      -# .form-group
      -#   = search_form_for @q do |f|
      -#     .form-inline.justify-content-center
      -#       = f.search_field :name_or_address_cont,class: " form-control", placeholder:"please input..."
      -#       = f.submit :search, class: "btn btn-success" 

  .container.col-12
    -if flash.notice.present?
      .alert.alert-success
        = flash.notice
    = yield
